/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../../Library/Ruby/Gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/partials/_out.scss */
.login {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: center;
  flex-flow: wrap column;
  padding: 40px 0px;
}

/* line 13, ../sass/partials/_out.scss */
#form-connexion {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

/* line 20, ../sass/partials/_out.scss */
#form-connexion > button.button-basic {
  margin: 10px auto;
}

/* line 24, ../sass/partials/_out.scss */
#form-connexion > .input-group {
  justify-content: center;
}

/* line 28, ../sass/partials/_out.scss */
.input-group {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: 5px 0;
}

/* line 36, ../sass/partials/_out.scss */
input {
  margin: 1em 5px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid rgba(191, 191, 191, 0.5);
  background-color: #444F62;
  color: rgba(191, 191, 191, 0.5);
  height: 37px;
}

/* line 46, ../sass/partials/_out.scss */
.input-group label {
  margin-right: 5px;
}

/* line 50, ../sass/partials/_out.scss */
.form-links {
  margin: 15px;
}

/* line 54, ../sass/partials/_out.scss */
.form-links a {
  color: rgba(191, 191, 191, 0.5);
  font-size: 0.75em;
  padding: 0.25em;
}

/* line 1, ../sass/partials/_in.scss */
.home {
  color: #E5EFF0;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Open Sans", sans-serif;
}

/* line 12, ../sass/partials/_in.scss */
nav {
  background-color: rgba(47, 56, 81, 0.5);
  border-radius: 5px;
  margin-bottom: 20px;
}

/* line 17, ../sass/partials/_in.scss */
.navbar-nav {
  align-items: center;
}

/* line 20, ../sass/partials/_in.scss */
.nav-item {
  border: 1px solid rgba(191, 191, 191, 0.5);
  border-radius: 3px;
  padding: 5px 3px;
  margin: 10px 5px;
}

/* line 26, ../sass/partials/_in.scss */
.nav-item:hover, .active {
  border: 1px solid rgba(191, 191, 191, 0.5);
  border-radius: 3px;
  background-color: #444F62;
  padding: 5px 3px;
  margin: 10px 5px;
}

/* line 35, ../sass/partials/_in.scss */
.nav-item a {
  color: #E5EFF0;
  font-size: 16px;
}

/* line 41, ../sass/partials/_in.scss */
.pseudo {
  color: rgba(191, 191, 191, 0.5);
  font-style: italic;
}

/* line 46, ../sass/partials/_in.scss */
.col-element {
  background-color: rgba(47, 56, 81, 0.5);
  border-radius: 3px;
  padding: 1em 0.5em;
  margin: 25px 0;
}

/* line 1, ../sass/partials/_planet-index.scss */
#planet-search {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
}

/* line 6, ../sass/partials/_planet-index.scss */
#planet-display {
  text-align: center;
}

/* line 9, ../sass/partials/_planet-index.scss */
#planet-display h2 {
  padding: 10px 0;
  font-size: 2.5em;
}

/* line 13, ../sass/partials/_planet-index.scss */
#planet-display h2::before {
  content: open-quote;
}

/* line 16, ../sass/partials/_planet-index.scss */
#planet-display h2::after {
  content: close-quote;
}

/* line 19, ../sass/partials/_planet-index.scss */
#planet-display ul {
  border: 1px solid rgba(191, 191, 191, 0.5);
}

/* line 22, ../sass/partials/_planet-index.scss */
#update button {
  margin-left: 5px;
}

/* line 25, ../sass/partials/_planet-index.scss */
.planet-element {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0 auto;
  border-bottom: 1px solid #151035;
}

/* line 33, ../sass/partials/_planet-index.scss */
.planet-element p {
  margin: 0;
  padding: 5px;
}

/* line 37, ../sass/partials/_planet-index.scss */
.planet-element:nth-child(even) {
  background-color: #444F62;
  border-top: 1px solid rgba(191, 191, 191, 0.5);
}

/* line 41, ../sass/partials/_planet-index.scss */
.planet-element:nth-child(odd) {
  background-color: #2F3851;
  border-top: 1px solid rgba(191, 191, 191, 0.5);
}

/* line 45, ../sass/partials/_planet-index.scss */
.btn-none {
  border: none;
  background: none;
  color: #E5EFF0;
}

/* line 1, ../sass/partials/_outil-rentabilite.scss */
table {
  border: 1px solid black;
  margin: 30px;
  background: black;
  width: 900px;
}

/* line 8, ../sass/partials/_outil-rentabilite.scss */
td {
  border: 1px solid white;
  text-align: center;
}

/* line 13, ../sass/partials/_outil-rentabilite.scss */
td input {
  width: 100px;
}

/* line 17, ../sass/partials/_outil-rentabilite.scss */
table p {
  padding: 0px 10px;
  color: white;
}

/* line 22, ../sass/partials/_outil-rentabilite.scss */
.ressources {
  margin: 30px;
}

/* line 26, ../sass/partials/_outil-rentabilite.scss */
.ressources h3 {
  margin-bottom: 10px;
}

/* line 30, ../sass/partials/_outil-rentabilite.scss */
.ressources label {
  margin-left: 15px;
}

/* line 34, ../sass/partials/_outil-rentabilite.scss */
span {
  color: white;
}

/* line 38, ../sass/partials/_outil-rentabilite.scss */
#entitle {
  background: white;
}

/* line 42, ../sass/partials/_outil-rentabilite.scss */
#entitle p {
  color: black;
  font-weight: 700;
}

/* line 47, ../sass/partials/_outil-rentabilite.scss */
.ship-name {
  background: white;
}

/* line 51, ../sass/partials/_outil-rentabilite.scss */
.ship-name p {
  color: black;
}

/* line 55, ../sass/partials/_outil-rentabilite.scss */
#report {
  margin: 30px;
}

/* line 59, ../sass/partials/_outil-rentabilite.scss */
#report p {
  padding-top: 20px;
}

/* line 1, ../sass/partials/_admin.scss */
.tox-tinymce {
  margin: 20px 0;
}

/* line 14, ../sass/screen.scss */
body {
  color: #E5EFF0;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
}

/* line 24, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 28, ../sass/screen.scss */
p {
  font-weight: 100;
  margin: 15px 0;
  line-height: normal;
  font-size: 14px;
}

/* line 35, ../sass/screen.scss */
a {
  color: rgba(191, 191, 191, 0.5);
  font-size: 1.25em;
  padding: 0.25em;
}

/* line 41, ../sass/screen.scss */
footer {
  padding: 2em;
  color: rgba(191, 191, 191, 0.5);
  font-size: 0.75em;
}

/* line 47, ../sass/screen.scss */
.wrapper-out {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column nowrap;
  height: 100vh;
}

/* line 55, ../sass/screen.scss */
h1 {
  font-size: 2.5em;
  font-weight: 400;
  margin: 10px 0;
}

/* line 61, ../sass/screen.scss */
h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 10px 0;
  padding: 10px 0;
}

/* line 68, ../sass/screen.scss */
h3 {
  font-size: 1.25em;
  font-weight: 400;
  margin: 10px 0;
}

h5 {
	padding: 10px 0;
}

/* line 74, ../sass/screen.scss */
textarea {
  overflow: auto;
  resize: vertical;
  width: 100%;
  margin: 20px 0;
  padding: 5px;
  line-height: 1.25em;
  border-radius: 3px;
  border: 1px solid rgba(191, 191, 191, 0.5);
  background-color: #444F62;
  color: rgba(191, 191, 191, 0.5);
}

/* line 87, ../sass/screen.scss */
select {
  word-wrap: normal;
  margin: 1em 5px;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid rgba(191, 191, 191, 0.5);
  background-color: #444F62;
  color: rgba(191, 191, 191, 0.5);
  height: 37px;
}

/* line 98, ../sass/screen.scss */
.tooltip-inner {
  background-color: #EB6F09;
}

/* line 102, ../sass/screen.scss */
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #EB6F09;
}

/* line 106, ../sass/screen.scss */
.fatal-logo {
  font-size: 2rem;
  font-weight: 700;
  align-self: flex-start;
}

/* line 112, ../sass/screen.scss */
.module {
  padding: 15px 15px;
}

/* line 116, ../sass/screen.scss */
.button-basic {
  width: 120px;
  margin: 10px;
  padding: 10px;
  background-color: #151035;
  color: #E5EFF0;
  border: 1px solid rgba(191, 191, 191, 0.5);
  border-radius: 3px;
  text-decoration: none;
}

/* line 127, ../sass/screen.scss */
a.button-basic {
  width: 110px;
  margin: 10px;
  background-color: #151035;
  color: #E5EFF0;
  border: 1px solid rgba(191, 191, 191, 0.5);
  padding: 5px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1em;
}

/* line 139, ../sass/screen.scss */
.button-basic-warning {
  width: 110px;
  margin: 10px auto;
  background-color: #d90429;
  color: #E5EFF0;
  border: 1px solid rgba(191, 191, 191, 0.5);
  padding: 8px;
  border-radius: 3px;
  text-decoration: none;
}

/* line 150, ../sass/screen.scss */
.error-mesage {
  display: block;
  position: absolute;
  bottom: -22%;
  left: 20px;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #d90429;
  background-color: #d90429;
  border-radius: 5px;
}

/* line 163, ../sass/screen.scss */
.error-mesage::before {
  content: "";
  border-color: transparent transparent #d90429 transparent;
  position: absolute;
  border-width: 7px;
  bottom: 100%;
  left: 5%;
  border-style: solid;
}

/* line 173, ../sass/screen.scss */
.search {
  display: block;
  position: absolute;
  top: 68%;
  left: 21px;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  border: 1px solid #d90429;
  background-color: #d90429;
  border-radius: 5px;
}

/* line 186, ../sass/screen.scss */
.search::before {
  content: "";
  border-color: transparent transparent #d90429 transparent;
  position: absolute;
  border-width: 7px;
  bottom: 103%;
  left: 5%;
  border-style: solid;
}
